<div class="text-layout">
    <h1>{{ name }}</h1>
    <h1>{{ obj | json }}</h1>
</div>

<button pButton
        pRipple
        type="button"
        label="Click"
        class="p-button-help"
        icon="pi pi-exclamation-circle"
        iconPos="right"></button>

<hr>

<p-card [header]="name | titlecase"
        subheader="Hey there!"
        [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aliquid distinctio quasi, reprehenderit eum sequi vitae laboriosam ad autem deleniti nisi nam animi amet assumenda nesciunt beatae labore! Assumenda, ad.</p>
</p-card>
