<div class="animate__animated animate__fadeIn animate__faster">
    <h2>By capital</h2>
    <hr>

    <div class="row">
        <div class="col">
            <app-country-input
                (onEnter)="search($event)"
                (onDebounce)="showRecommends($event)"
                placeholder="Search by capital...">
            </app-country-input>
        </div>
    </div>
    <hr>
</div>


<div *ngIf="hasError" class="alert alert-danger">
    Country not found with the name '{{ text }}'!
</div>

<div *ngIf="!hasError" class="row">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>
