<div class="text-layout">
    <h1>No common (perhaps) Pipes</h1>
    <p>
        Included Pipes in Angular (in <b>common</b> module)
    </p>
</div>

<div class="grid">
    <div class="col md-6">
        <p-fieldset legend="i18nSelect Pipe"
                    [toggleable]="true">
            Content
        </p-fieldset>
    </div>
    <div class="col md-6">
        <p-fieldset legend="i18nPlural Pipe"
                    [toggleable]="true">
            Content
        </p-fieldset>
    </div>
</div>
