<div class="animate__animated animate__fadeIn animate__faster">
    <h3>Search by region <small *ngIf="activatedRegion"><{{ activatedRegion | titlecase }}></small></h3>
    <hr>
</div>
<h5>Select the region</h5>

<div class="row">
    <div class="col">
        <!-- [class.btn-primary]="region === activatedRegion" -->
        <!-- [ngClass]="{
            'btn-primary': region === activatedRegion,
            'btn-outline-primary': region !== activatedRegion
        }" -->
        <!-- [class]="(region === activatedRegion) ? 'btn btn-primary': 'btn btn-outline-primary'" -->
        <button *ngFor="let region of regions"
                (click)="toActivateRegion(region)"
                [class]="getCssClass(region)">
            {{ region | titlecase }}
        </button>
    </div>
</div>

<div class="row" *ngIf="countries.length > 0">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>